html {
  font-size: 87.5%;
  line-height: 1.78571em;
}

body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	font-size: 14px;
	font-size: 1em;
	@include font-smoothing(subpixel-antialiased);
	font-weight: 400;
	line-height: 1.7857;
}

/*--------------------------------------------------------------
2.1 - Headings
--------------------------------------------------------------*/
@import "headings";

/*--------------------------------------------------------------
2.2 - Copy
--------------------------------------------------------------*/
@import "copy";
