/*
Theme Name: op2019
Adding support for languages written in a Right To Left (RTL) direction is easy -
it's just a matter of overwriting all the horizontal positioning attributes
of your CSS stylesheet in a separate stylesheet file named rtl.css.
https://codex.wordpress.org/Right-to-Left_Language_Support
*/
body {
  direction: rtl;
  unicode-bidi: embed; }

.main-navigation ul li {
  margin-right: 0;
  margin-left: 1.78571em; }
  .main-navigation ul li:last-of-type {
    margin-left: 0; }

.main-navigation ul ul {
  right: 0;
  left: initial;
  text-align: right; }
  .main-navigation ul ul ul {
    left: initial;
    right: 100%; }

.main-navigation ul .sub-menu .menu-item-has-children > a:after,
.main-navigation ul .sub-menu .page_item_has_children > a:after,
.main-navigation ul .children .menu-item-has-children > a:after,
.main-navigation ul .children .page_item_has_children > a:after {
  content: "\f104";
  right: initial;
  left: 1em; }

.responsive-menu .main-navigation.toggled ul li a {
  text-align: right; }

.responsive-menu .main-navigation.toggled ul > li[class*=children] > span {
  right: auto;
  left: 0; }

.woocommerce-product-gallery {
  direction: ltr; }
